@media (max-width: 496px) {

    .review-container {
        display: flex;
        width: 5rem;
        /* background-color: gray;
        height: 10rem;
        width: 20rem;
        border-radius: .5rem;
        padding: 1rem;
        background-color: white;
        gap: .5rem; */
    }

    .review-container img {
        border-radius: 9999px;
        width: 6rem;
    }
    
    .review-content {
     display: flex;
     flex-direction: column;
     padding: .4rem;
    }

    .review-container .review-content span {
        color: #F4CE14;
    }
    
    .review-image{
    
        width: 7rem;
        height: 6rem;
        object-fit: cover;
    }
    
    h4{
        font-size: 1.2rem;
    }
    
    .comment {
        text-align: left;
    }

}

.review-container {
    display: flex;
    background-color: gray;
    height: 10rem;
    width: 20rem;
    /* border-radius: .5rem; */
    /* padding: 1rem; */
    background-color: white;
    gap: .5rem;
}

.review-container img {
    border-radius: 9999px;
    width: 6rem;
}

.review-content {
 display: flex;
 flex-direction: column;
 padding: .4rem;
}

.review-container .review-content span {
    color: #F4CE14;
}

.review-image{

    width: 7rem;
    height: 6rem;
    object-fit: cover;
}

h4{
    font-size: 1.2rem;
}

.comment {
    text-align: left;
}
