.reviews-section {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 3rem 0;
    gap: 3rem;
    background-color: #495E57;
}

@media (max-width: 496px) {
    .reviews-section {
        flex-direction: column;
        width: 100%;
        padding: 5rem 0;
        justify-content: center;
        align-items: center;
        border-radius: 1rem;
        margin: 3rem 0;
    }
}