.reviews-section {
    display: flex;
    justify-content: center;
    padding: 3rem 2.5rem;
    gap: 2rem;
    background-color: #495E57;
}

@media (max-width: 496px) {
    .reviews-section {
        flex-direction: column;
        width: 100%;
        padding: 3rem 0;
        justify-content: center;
        align-items: center;
        border-radius: 1rem;
    }
}