.special-card {
    width: 20rem;
    height: 37rem;
    background-color: #495E57;
    color: white;
    padding: .5rem;
    display: flex;
    flex-direction: column;
    border: 1rem;
    border-radius: 1rem;
}

.special-card:hover {
    animation: rescale .3s ease-in-out forwards ;

}

.special-image {
    width: 20rem;
    height: 16rem;
    object-fit: cover;
    border-radius: 1rem;
}

.special-content {
    display: flex;
    flex-direction: column; 
    justify-content: space-between; 
    flex-grow: 1;
  }

.dish-header {
    display: flex;
    justify-content: space-between;
}

.special-name {
    font-size: 1.5rem;
}

.special-price {
    color: #F4CE14;
    font: 1.3rem;
    font-style: italic;
    font-weight: bold;
    align-self: center;

}

.special-description {
    text-align: center;
    font-size: 1.2rem;
}

.delivery-button {
    width: 100%;
    display: flex;
    justify-content: space-around;
    justify-self: center;
}

.delivery-icon {
    height: 2rem;
    width: 3rem;
    align-self: center;
}

/* Animation */

@keyframes rescale {
    from {
        transform: scale(1);
        box-shadow: 0 0 0 0 transparent;
    }

    to {
        transform:scale(1.12);
        box-shadow: 0 0 1.5rem 1rem rgba(0, 0, 0, 0.5);
    }
}