.review-container {
    display: flex;
    flex-direction: column;
    background-color: gray;
    height: 10rem;
    width: 22rem;
    border-radius: 1rem;
    padding: 1rem .5rem;
    background-color: white;
}

.top-section{
 display: flex;
 justify-content: space-around;
}

.review-image{

    width: 7rem;
    height: 6rem;
}

h4{
    font-size: x-large;
}

.comment {
    text-align: center;
}