section {
    border-radius: 1rem;
}

.hero-section {
    display: flex;
    justify-content: space-between;
    padding: 5rem 7rem;
    background-color: #495E57;
    height: fit-content;
    color: white;
}

.hero-textContainer {
    flex: 1;
}

h1 {
    font-size: 4rem;
    color: #F4CE14;
}

h3 {
    font-size: 2.5rem;
}

.hero-subtext {
    font-size: 1.5rem;
    width: 50%;
}

button {
    background-color: #F4CE14;
    width: 10.8rem; 
    height: 3.8rem;
    border-radius: 1rem;
    font-size: 1.25rem;
}

button:hover {
    box-shadow:  0 0 10px 5px #F4CE14;
}

.image-container {
    flex: 1;
    align-items: center;
    display: flex;
    justify-content: flex-end;
    height: 35rem;
}

.hero-image {
    width: 30rem;
    height: 35rem;
    object-fit: cover;
}

