.specials-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 2rem 3rem;
}

.special-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 4rem;
}

.cards-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

