@media (max-width: 496px) {
    nav {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;

    }
    
    
    .logo-container {
        width: 10rem;
        height: 2.25;
    
    }

    .logo {
        object-fit: contain;
        width: 12rem;
    }
    
    nav button {
        display: block;
        width: 3rem;
        height: 2.5rem;
        font-size: 1.5rem;
        visibility: visible !important;
    }

    nav button:hover {
        background-color: #f9f9f9;
    }


    nav .nav-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        z-index: 1;
        position: absolute;
        top: 4.5rem;
        width: 100%;
        height: 15rem;
        text-align: center;
        list-style: none;
        font-size: 2rem;
        background-color: white;
        padding: 1rem 0;
        margin: 0;
        box-shadow: inset 0 0 5px 0 black;
    }

    .nav-item {
        width: 100%;
    }

    .item {
        text-decoration: none;
        width: 100%;
        color: #495E57;
        font-weight: 600;
    }

    .item:hover {
        text-decoration: underline;
        text-decoration-color: #F4CE14;
        text-decoration-thickness: .4rem;
    }

    nav .large-navList { 
        display: none;
        visibility: hidden;
        padding: 0;
        margin: 0;
        width: 0;
        overflow: hidden;
    }
        

    
}

nav {
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;

}

.logo {
    width: 10.9rem;
    height: 2.25rem;

}

nav .large-navList {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 20rem;
    height: 3.13rem;
}


.item {
    text-decoration: none;
    width: 100%;
    color: #495E57;
    font-weight: 600;
}

.item:hover {
    text-decoration: underline;
    text-decoration-color: #F4CE14;
    text-decoration-thickness: .4rem;
}

nav > button {
    visibility: hidden;
}

